<!DOCTYPE html>
{% include 'userheader.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collections</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="image-container">
            <div class="row">
                <div class="row">
                    <div class="image-item">
                        <img src="{% static 'img/1.jpg' %}" class="img-thumbnail" alt="Image 1">
                        <div class="details">
                            <h2>Designer: John Doe</h2>
                            <p>Contact: john@example.com</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="image-item">
                        <img src="{% static 'img/2.jpg' %}" class="img-thumbnail" alt="Image 2">
                        <div class="details">
                            <h2>Designer: Jane Smith</h2>
                            <p>Contact: jane@example.com</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="image-item">
                        <img src="{% static 'img/3.jpg' %}" class="img-thumbnail" alt="Image 3">
                        <div class="details">
                            <h2>Designer: Michael Johnson</h2>
                            <p>Contact: michael@example.com</p>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="image-item">
                        <img src="{% static 'img/4.jpg' %}" class="img-thumbnail" alt="Image 2">
                        <div class="details">
                            <h2>Designer: Jane Smith</h2>
                            <p>Contact: jane@example.com</p>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="image-item">
                        <img src="{% static 'img/5.jpg' %}" class="img-thumbnail" alt="Image 2">
                        <div class="details">
                            <h2>Designer: Jane Smith</h2>
                            <p>Contact: jane@example.com</p>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="image-item">
                        <img src="{% static 'img/6.jpg' %}" class="img-thumbnail" alt="Image 2">
                        <div class="details">
                            <h2>Designer: Jane Smith</h2>
                            <p>Contact: jane@example.com</p>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="image-item">
                        <img src="{% static 'img/7.jpg' %}" class="img-thumbnail" alt="Image 2">
                        <div class="details">
                            <h2>Designer: Jane Smith</h2>
                            <p>Contact: jane@example.com</p>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="image-item">
                        <img src="{% static 'img/8.jpg' %}" class="img-thumbnail" alt="Image 2">
                        <div class="details">
                            <h2>Designer: Jane Smith</h2>
                            <p>Contact: jane@example.com</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>
{% include 'footer.html' %}
</html>
