{% include 'header.html' %}

{% load static %}
<!-- about us css start-->
<section class="about_us section_padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about_img">
                    <img src="{% static 'img/image1.png' %}" alt="#" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about_text">
                    <h5>About Our Fashion Design System</h5>
                    <h2>Creating Trends, Defining Styles</h2>
                    <p>Our fashion design system is dedicated to exploring the latest trends and defining unique styles that resonate with modern fashion enthusiasts.</p>
                    <p>From haute couture to ready-to-wear collections, we strive to innovate and inspire through our designs. Our team of designers, artisans, and visionaries collaborate to bring forth captivating fashion experiences.</p>
                    <p>With a blend of creativity, craftsmanship, and technology, we push the boundaries of fashion, shaping the industry's landscape one collection at a time.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about us css end-->

{% include 'footer.html' %}
