{% include 'userheader.html' %}
<div class="container">
        <div class="image-container">
            <div class="row">
                <div class="row">
                     <div class="col-md-6 mb-4">
                    <div class="image-item">
                       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROgTCzWl_FDcH0JtsUDO3RKimsfUj3uOC24Q&usqp=CAU" class="img-thumbnail" alt="Image 2">
                        <div class="details">
                            <h2>Designer: John Doe</h2>
                            <p>Contact: john@example.com</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                     <div class="col-md-6 mb-4">
                    <div class="image-item">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaVcLXM4KD-2mZIesEjzK0j18JdRCjvGAhew&usqp=CAU" class="img-thumbnail" alt="Image 2">
                        <div class="details">
                            <h2>Designer: Jane Smith</h2>
                            <p>Contact: jane@example.com</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                     <div class="col-md-6 mb-4">
                    <div class="image-item">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRb9ko9CLZ0dk_5KcC_N1BWiKatRGg0dQeptA&usqp=CAU" class="img-thumbnail" alt="Image 3">
                        <div class="details">
                            <h2>Designer: Michael Johnson</h2>
                            <p>Contact: michael@example.com</p>
                        </div>
                    </div>
                </div>